@font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-Regular.ttf") format("truetype"),
      url("../fonts/Montserrat-Regular.woff") format("woff"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-Italic.ttf") format("truetype"),
      url("../fonts/Montserrat-Italic.woff") format("woff"),
      url("../fonts/Montserrat-Italic.woff2") format("woff2");
      font-weight: 400;
      font-style: italic;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
      font-weight: 600;
      font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"),
      url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
      url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
      font-weight: 600;
      font-style: italic;
  }

:root {
    --white: #fff;
    --green: #085F55;
    --green-hover: #11897C;
    --green-active: #084740;
    --yellow-text: #F6D47B;
    --yellow: #F4C64B;
    --yellow-hover: #FDD876;
    --yellow-active: #EBB31B;
    --lilac: #822C7E;
    --blue: #EBF7F5;
    --dark-green: #0C3A35;

}


body, html, ul, li{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}
p{
    margin: 8px 0;
}
ul, li {
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    font-size: 62px;
    font-weight: 600;
    color: var(--green);
}
h2{
    font-size: 52px;
    font-weight: 600;
    color: var(--green);
}

.container{
    max-width: 1156px;
    padding: 0 20px;
    margin: 0 auto;
}
.header__nav{
    font-size: 18px;
    padding: 42px 0;
}
.header__nav ul{
    display: flex;
    gap: 50px;
}
.header__nav a{
    color: var(--green);
    transition: color 0.3s;
}
.header__nav a:hover{
    color: var(--green-hover);
}
.header__nav a:active{
    color: var(--green-active);
}


.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    flex: 1 1 auto;
}
.hero-home {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 56px 0;
}
.hero-home h1{
    max-width: 576px;
    margin-bottom: 70px;
}
.hero-home .subtitle{
    font-size: 36px;
    max-width: 519px;
}
.hero-home .subtitle b{
    font-weight: 600;
}

.whom{
    padding: 50px 0 100px;
    background-color: var(--blue);
}
.whom__title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 32px;
}
.whom ul {
    display: flex;
    justify-content: center;
    gap: 38px;
}
.list li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
}
.list li::after{
    position: absolute;
    content: '';
    left: 0;
    top: 12px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
}
.whom__btns{
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-top: 38px;
}
.benefit{
    padding: 90px 0;
}
.benefit h2{
    max-width: 790px;
}
.benefit__wrapper{
    display: flex;
    justify-content: space-between;
}
.benefit__item{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 53px 13px 13px;
    font-size: 21px;
}
.benefit__item p{
    text-align: center;
    font-weight: 600;
}


.experts{
    padding: 90px 0 100px;
    font-size: 28px;
    font-weight: 600;
}
.experts__item{
    width: 48%;
    display: inline-block;
}
.experts__item p{
    margin-bottom: 24px;
}
.experts__dec{
    position: relative;
}
.experts__dec::after{
    position: absolute;
    content: '';
    top: -48px;
    left: 72%;
    width: 63px;
    height: 58px;
    background-image: url(../img/Capa_1.svg);
}
.experts__wrapper a{
    display: block;
    width: max-content;
    margin: 70px auto 0;
}
.about{
    padding: 90px 0 100px;
}
.about__offer{
    font-size: 36px;
}
.about__offer--text {
    width: 60%;
}
.about__offer--img{
    display: inline;
    width: 35%;
    margin-left: auto;
    transform: translateY(-80px);
}
.about__offer--img img{
    width: 100%;
    object-fit: cover;
}
.about__offer--wrapper{
    display: flex;
    justify-content: space-between;
}
.why {
    background-color: var(--blue);
    padding: 114px 0 90px;
}
.why h2{
    margin: 0 0 20px 0;
}
.why-item {
    padding: 50px 0px 0px 0px;
    border: 2px solid var(--yellow);
    border-radius: 28px;
}
.why-item p{
    padding: 0 19px 0 19px;
}
.why-item__quote{
    position: relative;
    padding: 24px 28px 24px 19px;
    background-color: var(--yellow);
    border-radius: 26px;
    margin-top: 32px;
    font-weight: 600;

}
.why-item__clip{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 80px !important;

}
.why-item__clip .why-item__quote{
    background-color: transparent;
    position: relative;
    background-image: url(../img/quote.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    padding-bottom: 28px;
    margin: 0;
    transform: translateY(40px);
    scale: 1.007;
}
.why-item__clip .why-item__quote::after{
    top: -22px;
}
.why-item__quote::after{
    position: absolute;
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(../img/quote-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -36px;
    right: 52px;
}
.why-item__num{
    position: absolute;
    top: 0;
    left: 25px;
    width: 42px;
    height: 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
}
.why-item__title{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: var(--lilac);
    margin-top: 145px;
}
.why-item__title::after{
    position: absolute;
    content: '';
    background-image: url(../img/why-title.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 133px;
    height: 152px;
    right: 0;
    top: -80px;
}
.result{
    padding: 90px 0;
}
.result h2{
    max-width: 780px;
}
.result__title{
    font-size: 28px;
    font-weight: 600;
    color: var(--lilac);
    margin-bottom: 40px;
}
.result .whom__btns{
    margin-top: 70px;
    gap: 70px;
}
.quotes{
    padding-bottom: 77px;
}
.quotes h2{
    text-align: center;
}
.quotes__wrapper{
    position: relative;
}
.quotes__slider{
    position: relative;
    height: 332px;
    background-color: var(--blue);
    border-radius: 25px;
}

.quotes__slider .swiper-slide{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotes__slider .swiper-slide::after{
    position: absolute;
    content: '';
    width: 90px;
    height: 60px;
    background-image: url(../img/quote-dec.svg);
    top: 28px;
    left: 45px;
}
.quotes__slider .swiper-slide p{
    width: 80%;
    transform: translateX(8%);
}
.quotes__slider--btns{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}
.quotes__slider--prev{
    transform: translateX(-50%);
}
.quotes__slider--next{
    transform: translateX(50%);
}
.quotes__slider--btn{
    cursor: pointer;
}
.book{
    padding: 20px 0 90px;
}
.book__wrapper{
    display: flex;
    justify-content: space-between;
}
.book__img{
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
}
.book__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book__info{
    width: 60%;
    font-size: 36px;
}
.book__info p:nth-child(1){
    position: relative;
    max-width: 466px;
}
.book__info p:nth-child(1)::after{
    position: absolute;
    content: '';
    background-image: url(../img/book-1.svg);
    width: 57px;
    height: 53px;
    right: -57px;
    top: -32px;
}
.book__info p:nth-child(1)::before{
    position: absolute;
    content: '';
    background-image: url(../img/book-2.svg);
    width: 71px;
    height: 102px;
    right: 0px;
    top: 40px;
}
.book__info p:nth-child(2){
    position: relative;
    max-width: 432px;
    margin-left: auto;
}
.book__info p:nth-child(2)::before{
    position: absolute;
    content: '';
    background-image: url(../img/book-3.svg);
    width: 173px;
    height: 122px;
    left: -228px;
    top: -6px;
}
.book__info span{
    font-weight: 600;
    color: var(--lilac);
}
.book__info .btn{
    display: inline-block;
    width: 100%;
    margin-top: 80px;
}
.reviews{
padding: 0 0 80px;
}
.reviews h2{
    text-align: center;
}
.reviews__wrapper{
    position: relative;
    padding-bottom: 98px;
}
.reviews__slider--btns{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.reviews__slider{
    align-items: stretch;
}
.reviews__slide{
    padding: 55px 52px;
    background-color: var(--blue);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    height: auto;
}
.reviews__slide b{
    display: block;
    margin-top: 9px;
}
.reviews__slide img{
    width: 176px;
    height: 176px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.reviews__slide--title, .reviews__slide--subtitle{
    color: var(--green);
    padding-bottom: 25px;
    margin-bottom: 40px;
}
.reviews__slide--subtitle{
    position: relative;
}
.reviews__slide--subtitle::after{
    position: absolute;
    content: '';
    width: 85%;
    height: 4px;
    background-image: url(../img/reviews.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.reviews__slide--title{
    font-weight: 600;
}
.video{
    text-align: center;
    padding-bottom: 90px;
}
.video__title{
    font-size: 40px;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 32px;
}
.video iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-top: 55px;
}
.offer{
    padding: 90px 0;
    text-align: center;
}
.offer__text{
    max-width: 961px;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    margin: 30px auto;
}
.offer__text span{
    color: var(--yellow-text);
}
.offer .btn-white{
    margin-top: 45px;
}
.footer{
    background-color: var(--dark-green);
    padding: 90px 0;
    font-size: 18px;
    text-align: center;
    color: var(--white);
}
.footer__copy{
    margin-bottom: 40px;
}
.footer__text{
    width: 86%;
    margin: 0 auto;
}

.btn{
    padding: 24px;
    border-radius: 15px;
    border: 2px solid  var(--yellow);
    background-color: var(--yellow);
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s;
    width: 370px;
}
.btn:hover{
    background-color: var(--yellow-hover);
    border: 2px solid  var(--yellow-hover);
}
.btn:active{
    background-color: var(--yellow-active);
    border: 2px solid  var(--yellow-active);
}
.btn.btn-light{
    background-color: transparent;
}
.btn.btn-light:hover{
    border: 2px solid  var(--yellow-hover);
    color: var(--yellow-hover);
}
.btn.btn-light:active{
    border: 2px solid  var(--yellow-active);
    color: var(--yellow-active);
}
.btn-white{
    display: inline-block;
    padding: 24px 35px;
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    transition: all 0.3s;
}
.btn-white:hover{
    border: 2px solid var(--yellow-hover);
    color: var(--yellow-hover);
}
.btn-white:active{
    border: 2px solid var(--yellow-active);
    color: var(--yellow-active);
}
.half{
    width: 50%;
}
.grid {
    max-width: 1156px;
  }
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
.grid-item{
    width: 48%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.grid-item-full{
    width: 98%;
    padding-bottom: 40px;
}
.grid-item-full > .why-item__quote{
    position: absolute;
    width: 48%;
    right: 0;
    top: 92%;
}
.grid-item-top{
    margin-top: 150px;
}
.big-list li{
    position: relative;
    padding-left: 60px;
    margin-bottom: 16px;
}
.big-list li::after{
    position: absolute;
    content: '';
    width: 33px;
    height: 35px;
    left: 0;
    /* top: -2px; */
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/list.svg);
}
.green{
    background: linear-gradient(180deg, rgba(8,95,85,1) 0%, rgba(8,95,85,0.7) 100%);
    color: white;
}