@font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-Regular.ttf") format("truetype"),
      url("../fonts/Montserrat-Regular.woff") format("woff"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-Italic.ttf") format("truetype"),
      url("../fonts/Montserrat-Italic.woff") format("woff"),
      url("../fonts/Montserrat-Italic.woff2") format("woff2");
      font-weight: 400;
      font-style: italic;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
      font-weight: 600;
      font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"),
      url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
      url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
      font-weight: 600;
      font-style: italic;
  }

:root {
    --green: #085F55;
    --green-hover: #11897C;
    --green-active: #084740;
    --yellow: #F4C64B;
    --yellow-hover: #FDD876;
    --yellow-active: #EBB31B;
    --lilac: #822C7E;
    --blue: #EBF7F5;
    --dark-green: #0C3A35;

}


body, html, ul, li{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}
p{
    margin: 8px 0;
}
ul, li {
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    font-size: 62px;
    font-weight: 600;
    color: var(--green);
}
h2{
    font-size: 52px;
    font-weight: 600;
    color: var(--green);
}

.container{
    max-width: 1156px;
    padding: 0 20px;
    margin: 0 auto;
}
.header__nav{
    font-size: 18px;
    padding: 42px 0;
}
.header__nav ul{
    display: flex;
    gap: 50px;
}
.header__nav a{
    color: var(--green);
    transition: color 0.3s;
}
.header__nav a:hover{
    color: var(--green-hover);
}
.header__nav a:active{
    color: var(--green-active);
}


.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    flex: 1 1 auto;
}
.hero-home {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 56px 0;
}
.hero-home h1{
    max-width: 576px;
    margin-bottom: 70px;
}
.hero-home .subtitle{
    font-size: 36px;
    max-width: 519px;
}
.hero-home .subtitle b{
    font-weight: 600;
}

.whom{
    padding: 50px 0 100px;
    background-color: var(--blue);
}
.whom__title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 32px;
}
.whom ul {
    display: flex;
    justify-content: center;
    gap: 38px;
}
.list li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
}
.list li::after{
    position: absolute;
    content: '';
    left: 0;
    top: 12px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
}
.whom__btns{
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-top: 38px;
}
.benefit{
    padding: 90px 0;
}
.benefit h2{
    max-width: 790px;
}
.benefit__wrapper{
    display: flex;
    justify-content: space-between;
}
.benefit__item{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 53px 13px 13px;
    font-size: 21px;
    letter-spacing: 20;
}
.benefit__item p{
    text-align: center;
    font-weight: 600;
}
.benefit__item li{
    position: relative;
    padding-left: 60px;
    margin-bottom: 16px;
}
.benefit__item li::after{
    position: absolute;
    content: '';
    width: 33px;
    height: 35px;
    left: 0;
    top: -2px;
    background-image: url(../img/list.svg);
}

.experts{
    padding: 90px 0 100px;
    background: linear-gradient(180deg, rgba(8,95,85,1) 0%, rgba(8,95,85,0.7) 100%);
    color: white;
    font-size: 28px;
    font-weight: 600;
}
.experts__item{
    width: 48%;
    display: inline-block;
}
.experts__item p{
    margin-bottom: 24px;
}
.experts__dec{
    position: relative;
}
.experts__dec::after{
    position: absolute;
    content: '';
    top: -48px;
    left: 72%;
    width: 63px;
    height: 58px;
    background-image: url(../img/Capa_1.svg);
}
.experts__wrapper a{
    display: block;
    width: max-content;
    margin: 70px auto 0;
}
.about{
    padding: 90px 0 100px;
}
.about__offer{
    font-size: 36px;
}
.about__offer--text {
    width: 60%;
}
.about__offer--img{
    display: inline;
    width: 35%;
    margin-left: auto;
    transform: translateY(-80px);
}
.about__offer--img img{
    width: 100%;
    object-fit: cover;
}
.about__offer--wrapper{
    display: flex;
    justify-content: space-between;
}
.why {
    background-color: var(--blue);
    padding: 114px 0 90px;
}
.why h2{
    margin: 0 0 20px 0;
}
.why-item {
    padding: 56px 0px 0px 0px;
    border: 2px solid var(--yellow);
    border-radius: 28px;
}
.why-item  p{
    padding: 0 28px 0 19px;
}
.why-item__quote{
    position: relative;
    padding: 24px 28px 24px 19px;
    background-color: var(--yellow);
    border-radius: 26px;
    margin-top: 32px;
    font-weight: 600;
}
.why-item__quote::after{
    position: absolute;
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(../img/quote-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: -36px;
    right: 52px;
}
.why-item__num{
    position: absolute;
    top: 0;
    left: 25px;
    width: 42px;
    height: 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
}

.footer{
    background-color: var(--dark-green);
    padding: 90px 0;
}

.btn{
    padding: 24px;
    border-radius: 15px;
    border: 2px solid  var(--yellow);
    background-color: var(--yellow);
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s;
    width: 370px;
}
.btn:hover{
    background-color: var(--yellow-hover);
    border: 2px solid  var(--yellow-hover);
}
.btn:active{
    background-color: var(--yellow-active);
    border: 2px solid  var(--yellow-active);
}
.btn.btn-light{
    background-color: transparent;
}
.btn.btn-light:hover{
    border: 2px solid  var(--yellow-hover);
    color: var(--yellow-hover);
}
.btn.btn-light:active{
    border: 2px solid  var(--yellow-active);
    color: var(--yellow-active);
}
.half{
    width: 50%;
}
.grid {
    max-width: 1156px;
  }
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
.grid-item{
    width: 48%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.grid-item-full{
    width: 100%;
}