@import 'inc-style.css';
@font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-Regular.ttf") format("truetype"),
      url("../fonts/Montserrat-Regular.woff") format("woff"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-Italic.ttf") format("truetype"),
      url("../fonts/Montserrat-Italic.woff") format("woff"),
      url("../fonts/Montserrat-Italic.woff2") format("woff2");
      font-weight: 400;
      font-style: italic;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
      font-weight: 600;
      font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src:
      local("Montserrat"),
      url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"),
      url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
      url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
      font-weight: 600;
      font-style: italic;
  }

:root {
    --white: #fff;
    --green: #085F55;
    --green-hover: #11897C;
    --green-active: #084740;
    --yellow-text: #F6D47B;
    --yellow: #F4C64B;
    --yellow-hover: #FDD876;
    --yellow-active: #EBB31B;
    --lilac: #822C7E;
    --blue: #EBF7F5;
    --dark-green: #0C3A35;

}


body, html, ul, li{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1.13rem, calc(1.03rem + 0.48vw), 1.38rem);
}
p{
    margin: 8px 0;
}
ul, li {
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    font-size: clamp(2.13rem, calc(1.46rem + 3.35vw), 3.88rem);
    font-weight: 600;
    color: var(--green);
}
h2{
    font-size: clamp(1.88rem, calc(1.35rem + 2.63vw), 3.25rem);
    font-weight: 600;
    color: var(--green);
}

.container{
    position: relative;
    max-width: 1156px;
    padding: 0 20px;
    margin: 0 auto;
}
.header__btn--open, .header__btn--close{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    display: none;
    z-index: 999;
}
.header__nav{
    font-size: 18px;
    padding: 42px 0;
}
.header__nav ul{
    display: flex;
    gap: 50px;
}
.header__nav a{
    color: var(--green);
    transition: color 0.3s;
}
.header__nav a:hover{
    color: var(--green-hover);
}
.header__nav a:active{
    color: var(--green-active);
}


.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    flex: 1 1 auto;
}
.list li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
}
.list li::after{
    position: absolute;
    content: '';
    left: 0;
    top: 12px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
}
.btn{
    padding: clamp(1.25rem, calc(1.15rem + 0.48vw), 1.5rem);
    border-radius: clamp(0.63rem, calc(0.51rem + 0.6vw), 0.94rem);
    border: 2px solid  var(--yellow);
    background-color: var(--yellow);
    color: black;
    font-size: clamp(1rem, calc(0.9rem + 0.48vw), 1.25rem);
    font-weight: 600;
    text-align: center;
    transition: all 0.3s;
    width: 370px;
}
.btn:hover{
    background-color: var(--yellow-hover);
    border: 2px solid  var(--yellow-hover);
}
.btn:active{
    background-color: var(--yellow-active);
    border: 2px solid  var(--yellow-active);
}
.btn.btn-light{
    background-color: transparent;
}
.btn.btn-light:hover{
    border: 2px solid  var(--yellow-hover);
    color: var(--yellow-hover);
}
.btn.btn-light:active{
    border: 2px solid  var(--yellow-active);
    color: var(--yellow-active);
}
.btn-white{
    display: inline-block;
    padding: 24px 35px;
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    transition: all 0.3s;
}
.btn-white:hover{
    border: 2px solid var(--yellow-hover);
    color: var(--yellow-hover);
}
.btn-white:active{
    border: 2px solid var(--yellow-active);
    color: var(--yellow-active);
}
.half{
    width: 50%;
}
.grid {
    max-width: 1156px;
  }
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
.grid-item{
    width: 48%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.grid-item-full{
    width: 98%;
    padding-bottom: 40px;
}
.grid-item-full > .why-item__quote{
    position: absolute;
    width: 48%;
    right: 0;
    top: 92%;
}
.grid-item-top{
    margin-top: 150px;
}
.big-list li{
    position: relative;
    padding-left: clamp(2.63rem, calc(2.22rem + 2.03vw), 3.69rem);
    margin-bottom: 16px;
}
.big-list li::after{
    position: absolute;
    content: '';
    width: clamp(1.56rem, calc(1.37rem + 0.96vw), 2.06rem);
    height: clamp(1.66rem, calc(1.45rem + 1.02vw), 2.19rem);
    left: 0;
    /* top: -2px; */
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/list.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.green{
    background: linear-gradient(180deg, rgba(8,95,85,1) 0%, rgba(8,95,85,0.7) 100%);
    color: white;
}
.zipper-img{
    width: clamp(3.19rem, calc(2.73rem + 2.27vw), 4.44rem);
    height: clamp(5.06rem, calc(4.31rem + 3.75vw), 7.13rem);
}
.smail-img{
    width: clamp(3.38rem, calc(2.9rem + 2.39vw), 4.69rem);
    height: clamp(3.56rem, calc(3.06rem + 2.5vw), 4.94rem);
}



/* ==================== FOOTER =================*/
.footer{
    background-color: var(--dark-green);
    padding: 90px 0;
    font-size: 18px;
    text-align: center;
    color: var(--white);
}
.footer__copy{
    margin-bottom: 40px;
}
.footer__text{
    width: 86%;
    margin: 0 auto;
}
/* ====================END FOOTER =================*/

/* ================== MEDIA ==============*/
@media (max-width: 767.98px) { 
    .header__btn--open, .header__btn--close {
        display: block;
    }
    .header__nav{
        width: 100%;
        position: absolute;
        left: 0;
        transform: translateY(-100%);
        background-color: rgba(255, 255, 255, 0.9);
        padding: 42px;
        transition: all 0.3s ease-out;
        z-index: 999;
    }
    .header__nav.open{
        backdrop-filter: blur(4px);
        transform: translateY(0%);
    }
    .header__nav ul{
        flex-direction: column;
    }
 }
@media (max-width: 575.98px) {
    .btn{
        width: 100%;
    }
}